/* font */
@import url("https://fonts.googleapis.com/css2?family=Monda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/* reset styles */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 16px;
  -ms-text-size-adjust: 16px;
}
@media only screen and (max-width: 88em) {
  html {
    font-size: 59%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: "Monda", sans-serif;
}

/*  INPUT */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]:hover,
input[type=number]:focus {
  -moz-appearance: number-input;
}

/*  clear button */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul,
menu {
  list-style: none;
}

.title {
  margin: 2.5rem;
  font-family: "Press Start 2P";
  font-size: 5rem;
  font-weight: bold;
  color: rgb(223, 250, 51);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h3 {
  margin: 1rem;
  font-size: 2rem;
  font-family: "Press Start 2P";
  color: rgba(60, 5, 58, 0.888);
}
@media only screen and (max-width: 37.5em) {
  h3 {
    font-size: 1.5rem;
  }
}

.input {
  max-width: 100%;
  min-height: 7rem;
  border-radius: 10rem;
  display: flex;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.391);
  transition: all 0.23s ease-in-out;
}
.input:focus-within {
  outline: solid rgb(223, 250, 51);
}

.input__text {
  padding: 10px 0 10px 30px;
  width: 100%;
  font-family: "Press Start 2P";
  font-size: 3rem;
  color: rgb(255, 255, 255);
  background: #25273c !important;
  border: none;
  outline: none;
}
@media only screen and (max-width: 37.5em) {
  .input__text {
    padding: 10px 0 10px 20px;
  }
}
.input__text::-moz-placeholder {
  border: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 3rem;
  font-family: "Press Start 2P";
}
.input__text:-ms-input-placeholder {
  border: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 3rem;
  font-family: "Press Start 2P";
}
.input__text::placeholder {
  border: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 3rem;
  font-family: "Press Start 2P";
}
@media only screen and (max-width: 56.25em) {
  .input__text::-moz-placeholder {
    font-size: 2.4rem;
  }
  .input__text:-ms-input-placeholder {
    font-size: 2.4rem;
  }
  .input__text::placeholder {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .input__text::-moz-placeholder {
    visibility: hidden;
  }
  .input__text:-ms-input-placeholder {
    visibility: hidden;
  }
  .input__text::placeholder {
    visibility: hidden;
  }
}

.input__btn {
  padding: 1rem;
  width: 25%;
  min-height: 50%;
  background: rgba(90, 255, 49, 0.6);
  border: none;
  outline: none;
  border-radius: 0px 30px 30px 0px;
  cursor: pointer;
  transition: all 0.23s ease-in-out;
}
.input__btn img {
  width: 50%;
}
@media only screen and (max-width: 37.5em) {
  .input__btn img {
    width: 50%;
  }
}
.input__btn:hover {
  background-color: rgba(67, 152, 45, 0.815);
}
.input__btn:active {
  cursor: pointer;
  background-color: rgba(63, 111, 53, 0.815);
}

.list {
  margin-top: 3rem;
  -webkit-backdrop-filter: invert(100%);
          backdrop-filter: invert(100%);
  border-radius: 1rem;
}
.list__item:last-child .list__vl {
  visibility: hidden;
}
.list__task {
  display: flex;
  padding: 1rem 2.5rem 1rem 2.5rem;
  justify-content: space-between;
  align-items: center;
}
.list__text {
  font-family: "Press Start 2P";
  font-size: 3rem;
  color: rgb(212, 208, 208);
}
.list__delete-btn {
  display: block;
  font-size: 5rem;
  text-shadow: 0 3px 3px rgba(9, 9, 9, 0.879);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.2s ease;
}
.list__delete-btn:hover {
  transform: translateY(2px);
  text-shadow: 0 0 0 black;
  cursor: pointer;
}
.list__vl {
  margin: 0 auto;
  width: 80%;
  border: 1px solid rgb(212, 208, 208);
}
.list__footer p {
  margin: 2rem;
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  text-align: right;
}

.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  background: #8a2387;
  background: linear-gradient(320deg, #f27121, #e94057, #8a2387);
  will-change: transform;
}
@media only screen and (max-width: 88em) {
  .container {
    background: #8a2387;
  }
}
@media only screen and (max-width: 75em) {
  .container {
    padding: 0.5rem;
  }
}

.wrapper {
  position: relative;
  margin: 1rem;
  width: 80%;
  min-height: 95rem;
  max-height: 95rem;
  background: rgba(255, 255, 255, 0.18);
  border-radius: 2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  /* Hide scrollbar  */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.wrapper::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 88em) {
  .wrapper {
    min-height: 55rem;
    max-height: 55rem;
  }
}
@media only screen and (max-width: 75em) {
  .wrapper {
    width: 95%;
  }
}

.body-todo {
  width: 80%;
  padding: 30px;
}
@media only screen and (max-width: 75em) {
  .body-todo {
    width: 90%;
  }
}
@media only screen and (max-width: 37.5em) {
  .body-todo {
    width: 98%;
  }
}