/* Animation */

@keyframes color-change-2x {
  0% {
    background: #ef32d9;
  }
  100% {
    background: #89fffd;
  }
}
@keyframes color-change-2x {
  0% {
    background: #ef32d9;
  }
  100% {
    background: #89fffd;
  }
}
