/* reset styles */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}
html {
  font-size: 62.5%; // 1 rem === 10px
  -webkit-text-size-adjust: 16px;
  -ms-text-size-adjust: 16px;
  @include respond(land) {
    font-size: 59%;
  }
  @include respond(tablet-land) {
    font-size: 56.25%;
  }
  @include respond(tablet) {
    font-size: 50%;
  }
  @include respond(phone) {
    font-size: 40%;
  }
}
body {
  font-family: 'Monda', sans-serif;
}
/*  INPUT */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: number-input;
}

/*  clear button */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul,
menu {
  list-style: none;
}
