/* font */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

// import
@import "blocks/mixin";
@import "reset";
@import "blocks/title";
@import "blocks/input";
@import "blocks/list";

// blocks
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;

  background: #8a2387;
  background: linear-gradient(320deg, #f27121, #e94057, #8a2387);

  will-change: transform;
  @include respond(land) {
    background: #8a2387;
  }
  @include respond(tablet-land) {
    padding: 0.5rem;
  }
}

.wrapper {
  position: relative;

  display: flex;
  overflow: scroll;
  align-items: center;
  flex-direction: column;

  width: 80%;
  min-height: 100%;
  margin: 1rem;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  /* Hide scrollbar  */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  @include respond(land) {
    min-height: 100%;
  }
  @include respond(tablet-land) {
    width: 95%;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.body-todo {
  width: 80%;
  padding: 30px;

  @include respond(tablet-land) {
    width: 90%;
  }
  @include respond(phone) {
    width: 98%;
  }
}
