.list {
  margin-top: 3rem;
  backdrop-filter: invert(100%);
  border-radius: 1rem;
  &__item:last-child .list__vl {
    visibility: hidden;
  }
  &__task {
    display: flex;
    padding: 0 25px 0 25px;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    font-family: 'Monda';
    font-size: 2rem;
    color: white;
  }
  &__delete-btn {
    font-size: 5rem;
    user-select: none;
    cursor: pointer;
  }
  &__vl {
    margin: 0 auto;
    width: 80%;
    border: 1px solid rgba(72, 64, 64, 0.37);
  }
  &__footer {
    p {
      padding-right: 2rem;
      font-family: 'Monda';
      font-size: 2rem;
      text-align: right;
    }
  }
}

/* .list__item:last-child {
  #vl {
    visibility: hidden;
  }
} */

/* .list__item:last-child .list__vl {
  visibility: hidden;
}
 */
