.title {
  margin: 2.5rem;

  user-select: none;

  color: rgb(223, 250, 51);

  font-family: "Press Start 2P";
  font-size: 5rem;
  font-weight: bold;
}
h3 {
  margin: 1rem;

  color: rgba(60, 5, 58, 0.888);

  font-family: "Press Start 2P";
  font-size: 2rem;

  @include respond(phone) {
    font-size: 1.5rem;
  }
}
