.title {
  margin: 15px;
  width: 80%;
  font-family: "Diplomata SC", cursive;

  font-size: 48px;
  color: #fff;
  user-select: none;
}
#little-google {
  font-family: monospace;
  font-size: 18px;
  font-weight: 100;
  color: rgb(106, 38, 223);
}
