.title {
  margin: 1rem;
  //font-family: 'Diplomata SC', cursive;
  font-family: "Press Start 2P", cursive;
  font-size: 10rem;
  font-weight: bold;
  color: rgb(223, 250, 51);
  user-select: none;
}
h3 {
  margin-top: 1rem;
  font-size: 2rem;
  font-family: "Press Start 2P", cursive;
  color: rgba(60, 5, 58, 0.888);
}
